$imgContainer: 66%;

.imgDesign {
  width: 500px;
  height: 500px;
}

.detailsPage {
  display: flex;
}

.imgContainer {
  width: ($imgContainer);
  text-align: center;
}

.btnContainer {
  width: (100-$imgContainer);
}

.detailsGenre {
  font-size: xxx-large;
  margin-bottom: 20px;
}

.addToWishlistButton {
  width: 50%;
  border-radius: 15px;
  height: 50px;
  font-size: larger;
  cursor: pointer;
}

.detailsTagline {
  margin-bottom: 70px;
  font-size: large;
}

.detailsOverviewContainer {
  margin-top: 3%;
}

.detailsOverview {
  width: 80%;
  margin: auto;
}

.detailsOverviewTitle {
  margin: auto;
  width: 80%;
  margin-bottom: 14px;
  font-size: large;
}

.msgText {
  margin: auto;
  display: table;
  padding: 10%;
}

.styleOne {
  * {
    font-family: fantasy;
  }
  button {
    height: 50px;
    width: 50%;
  }
}

.styleTwo {
  * {
    font-family: cursive;
  }
  button {
    border-radius: 15px;
    width: 40%;
  }
}

.styleThree {
  * {
    font-family: emoji;
  }
  button {
    border-radius: 15px;
    height: 50px;
  }
}

.styleFour {
  * {
    font-family: monospace;
  }
  button {
    border-radius: 5px;
    height: 50px;
    width: 20%;
  }
}

.styleFive {
  * {
    font-family: sans-serif;
  }
  button {
    border-radius: 15px;
    height: 30px;
    width: 30%;
  }
}

.styleSix {
  * {
    font-family: serif;
  }
  button {
    border-radius: 20px;
    height: 10px;
    width: 15%;
  }
}
