$imgContainer: 66%;

.imgDesign {
  width: 500px;
  height: 500px;
}

.detailsPage {
  display: flex;
}

.imgContainer {
  width: ($imgContainer);
  text-align: center;
}

.btnContainer {
  width: (100-$imgContainer);
}

.detailsGenre {
  font-family: fantasy;
  font-size: xxx-large;
}

.addToWishlistButton {
  width: 50%;
  border-radius: 15px;
  height: 50px;
  font-size: larger;
  cursor: pointer;
}
