.btnDesign {
  height: 80px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  color: goldenrod;
  margin-bottom: 15px;
}

.btnWishlist {
  margin: 10px;
  margin-left: 95%;
  color: black;
  background: goldenrod;
  border-radius: 5px;
}

.headerTitle {
  position: absolute;
}
